.box {
  width: 700px;
  max-width: 90vw;
}

.botao {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4%;
  padding: 32px 16px;
  border-radius: 15px;
  background: rgba(48, 48, 48, 0.4);
  color: #fff;
  text-align: start;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  cursor: pointer;
}

.botao svg {
  min-width: 16px;
  height: 23px;
}

.info {
  width: 700px;
  max-width: 90vw;
  height: 253px;
  border-radius: 15px;
  background: #cecece;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .botao {
    font-size: 16px;
  }
}