.perguntas {
  background-image: url(./background-perguntas.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  color: #95ff00;
  font-size: 32px;
  font-weight: 700;
  line-height: 102.182%; /* 32.698px */
  text-transform: capitalize;
  position: relative;
  text-align: center;
}

.titulo::before {
  content: "";
  position: absolute;
  width: 87px;
  height: 57px;
  background-image: url(./icone-pergunta.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  top: -50px;
  left: 0;
  transform: translate(-50%);
}

.caixas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 95px 0;
}

.imagem {
  width: 100%;
  max-width: 100vw;
  height: 300px;
  object-fit: cover;
}
